<h3>IP Addresses</h3>

<table class="table table-hover success">
  <thead>
    <tr class="success">
      <th>IP Address</th>
      <th>Netmask</th>
      <th>Gateway</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ipaddresses["ip_addresses"].each do |ipaddress|  %>
      <tr>
        <td><%= ipaddress["ip_address"]["address"] %></td>
        <td><%= ipaddress["ip_address"]["netmask"] %></td>
        <td><%= ipaddress["ip_address"]["gateway"] %></td>
        <td><%= link_to 'Destroy', destroy_ip_ipaddress_path, :disabled => true, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger' %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Allocate New IP Address Assignment', new_ipaddress_path,{   :class => "btn btn-default"} %>
